<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">HOME</a></li>
        <li class="breadcrumb-item"><a href="#">ÁO MIXI</a></li>
        <li class="breadcrumb-item active" aria-current="page">Áo phông Mixi</li>
    </ol>
</nav>
<div class="main-content">
    <div class="container-fluid p-0">
        <div class="row m-0">
            <div class="col-12 col-lg-2">
                <div class="thumbnail">
                    <ul class="list-img d-flex flex-lg-column gap-4 overflow-auto">
                        <li ng-repeat="pImg in product.imgslide"><img src="{{pImg}}" alt=""></li>
                    </ul>
                </div>
            </div>
            <!-- class="carousel-item active" -->
            <div class="col-lg-5 col-12">
                <div class="product-image">
                    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-indicators">
                            <button type="button" data-bs-target="#carouselExampleIndicators"
                                data-bs-slide-to="{{$index}}" ng-repeat="pImg in product.imgslide"
                                ng-class="{'active' : $index === 0}" aria-label="Slide {{$index}}"></button>

                        </div>
                        <div class="carousel-inner">
                            <div ng-class="{'carousel-item' : true, 'active' : $index === 0} "
                                ng-repeat="pImg in product.imgslide">
                                <img src="{{pImg}}" class="d-block w-100" alt="...">
                            </div>

                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                            data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                            data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>

                </div>
            </div>
            <div class="col-lg-5 col-md-12">
                <div class="product-info">
                    <h2 class="product-name">{{product.name}}</h2>
                    <div class="product-rating">
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="ratings">
                                <i class="fa fa-star rating-color"></i>
                                <i class="fa fa-star rating-color"></i>
                                <i class="fa fa-star rating-color"></i>
                                <i class="fa fa-star rating-color"></i>
                                <i class="fa fa-star rating-color"></i>
                                <p class="review-count">{{product.review}} Reviews</p>
                            </div>
                        </div>
                    </div>
                    <div class="product-price">
                        <h3 class="price">{{product.price.toLocaleString('it-IT', {style : 'currency', currency :
                            'VND'})}}</h3>
                    </div>
                    <div class="product-size">
                        <label class="lb-size" for="">Bảng size chi tiết</label>
                        <br>
                        <br>
                        <img src="{{product.imgsize}}" style="max-width: 100%;" alt="">
                        <div class="product-size">
                            <label class="lb-size2" for="">SIZE</label>
                            <select class="select-size text-center" name="" ng-model="product.size">
                                <option value="">Chọn một tùy chọn</option>
                                <option value="M">M</option>
                                <option value="L">L</option>
                                <option value="XL">XL</option>
                                <option value="XXL">XXL</option>
                                <option value="XXXL">XXXL</option>
                            </select>
                        </div>
                    </div>
                    <div class="product-color">
                        <label class="lb-color" for="">MÀU</label>
                        <select class="select-color text-center" name="" id="" ng-model="product.color">
                            <option value="">Chọn một tùy chọn</option>
                            <option value="ĐEN">ĐEN</option>
                            <option value="TRẮNG">TRẮNG</option>
                        </select>
                    </div>
                    <div class="product-quantity">
                        <label class="lb-quantity" for="">SỐ LƯỢNG</label>
                        <input class="input-quantity" type="number" min="1" ng-model="product.quantity"
                            ng-init="product.quantity = 1">
                    </div>
                    <div class="product-action">
                        <a href="#!cart">
                            <button class="btn btn-primary" ng-click="addtocart(product)">THÊM VÀO GIỎ HÀNG</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
    <hr>
    <h3 style="margin-left: 150px; color: #007784; font-size: 1.8vw;">SẢN PHẨM TƯƠNG TỰ</h3>
    <br>
    <div class="row m-0">
        <div class="other-products col-lg-12">
            <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="card-group text-center justify-content-center">
                            <div class="row m-0 g-2 ">
                                <div class="card col-lg-3 col-md-6" ng-repeat="data in Carouselpage1" ng-click="showProduct(data)">
                                    <img class="card-img-top" src="{{data.image}}">
                                    <div class="card-body">
                                        <strong class="card-title">{{data.name}}</strong>
                                        <p class="card-text">{{data.price}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="card-group text-center justify-content-center">
                            <div class="row m-0 g-2 ">
                                <div class="card col-lg-3 col-md-6" ng-repeat="data in Carouselpage2" ng-click="showProduct(data)">
                                    <img class="card-img-top" src="{{data.image}}">
                                    <div class="card-body">
                                        <strong class="card-title">{{data.name}}</strong>
                                        <p class="card-text">{{data.price}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <button class="carousel-control-prev justify-content-start" type="button"
                    data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon mb-5" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next  justify-content-end" type="button"
                    data-bs-target="#carouselExampleControls" data-bs-slide="next">
                    <span class="carousel-control-next-icon mb-5" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
    </div>
</div>